
.navbar {

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white; /* Set the text color for visibility */
  padding: 20px; /* Add padding to make the text more visible */
}